body {
    background: #181818;
    color: #fff;
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-image: url('./icons/noise-dark.png');
}

.container {
    display:block;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: rgb(39, 44, 40);
    border-radius: 1cm;
    background-image: url('./icons/noise-dark.png');
    box-shadow: 0 0 0 2px #ffffff59;
}

header {
    font-family: monospace;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

#timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#timer {
    margin-right: 10px;
}

#songSlider {
    width: 200px;
    accent-color: #69776e;
}

#songSlider:active {
    width: 200px;
    accent-color: #586d5f;
}


#input-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"]{
    font-family: monospace;
    text-align-last: center;
}


#input::file-selector-button {
    padding: 0; 
    background-image: url('./icons/folder.png');
    background-color: #1a1b1b;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 50px; 
    height: 50px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    color: transparent;
    text-indent: -9999px; 
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


#input::file-selector-button:hover {
    background-color: #73af89;
    transform: scale(0.95);
}

#input::file-selector-button:active{
    background-color: #395c46;
    transform: scale(0.90);
}

#cover {
    width: 180px;
    height: 180px;
    background-image: url('./icons/nocover.png');
    background-color: #333;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
    background-size: cover; 
    background-position: center; 
    animation: spin 10s linear infinite; 
    box-shadow: 0 0 0 15px #1d1d1d;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg); 
    }
}


#info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 0 2px #ffffff59;
}

.info-item {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 0px 0ch;
    text-align: center;
    font-family: monospace;
    /* border-radius: 10px; */
}

#artist, #title, #album {
    margin: 10px;
    text-align: center;
}

#controls {
    text-align: center;
}

#input-container{
    text-align: center;
}

.playBtn {
    background-image: url('./icons/play.png');
    background-color: #131313;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 50px; 
    height: 50px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 2px #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.loopBtn {
    box-shadow: 0 0 0 2px #fff;
    background-image: url('./icons/refresh.png');
    background-color: #131313;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    width: 50px; 
    height: 50px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.playBtn:hover, .loopBtn:hover {
    background-color: #202020;
    box-shadow: 0 0 0 2px #9291ff;
    transform: scale(1.05);
}

.playBtn:active, .loopBtn:active {
    background-color: #202020;
    box-shadow: 0 0 0 2px #9291ff;
    transform: scale(0.96);
}